<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    form {
      display: flex;
      flex-direction: column;
    }
    </style>
  </head>
  <body>
    <a href="/welcomePage">Back</a>
    <h1>Plan a Trip</h1>
    <form action="/planPage" method="post">
  <input type="text" name="trip_name" placeholder="Trip Name" />
  <input type="text" name="from" placeholder="From" />
  <input type="text" name="to" placeholder="To" />
  <select name="airline_id">
  <%for(let i=0; i<airlines.length; i++){%>
  <option value="<%=airlines[i].id%>"><%=airlines[i].airline_name%></option>
<%}%>
</select>
<input type="date" name="date" />
  <input type="submit" />
</form>
  </body>
</html>
